spec:
  inputs:
    PLUGIN_VERSION:
      type: 'string'
      default: '$CI_PIPELINE_ID-ci'
      regex: ^(?:\d{4})\.(?:0[1-9]|1[0-2])\.(?:0[1-9]|[12]\d|3[01])-\d+$
      description: 'Versionsnummer im Format YYYY.MM.DD-Nr (pushed ins Release statt Snapshot-repository)'
    UPLOAD_TO_SEITENBAU_GRADLE_REPO:
      type: 'boolean'
      default: true
      description: 'Lädt Version in das SEITENBAU Gradle-Repository hoch'
    UPLOAD_TO_GRADLE_REPO:
      type: 'boolean'
      default: false
      description: 'Lädt offizielle Version in das öffentliche Gradle-Repository hoch, sofern eine PLUGIN_VERSION gesetzt ist '

---
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

stages:
  - build
  - publish

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.vfs.watch=false -Dorg.gradle.caching=true"
  GRADLE_USER_HOME: .gradle/
  JF_REPO_URL: https://repo.sds.seitenbau.net/artifactory
  JF_REPO_KEY: maven-imbw-serviceportal
  JF_RW_USER: $JF_USER_RW
  JF_RW_PASSWORD: $JF_USER_RW_PASSWORD

default:
  image: docker-io.repo.sds.seitenbau.net/library/eclipse-temurin:17
  cache:
    - key: cache-$CI_COMMIT_REF_SLUG
      paths:
        - build/
    - key:
        files:
          - build.gradle
          - gradle/wrapper/gradle-wrapper.properties
      paths:
        - .gradle/caches/
        - .gradle/notifications/
        - .gradle/wrapper/

build:
  stage: build
  script:
    - ./gradlew build test -PpluginVersion=$[[ inputs.PLUGIN_VERSION ]]
  artifacts:
    when: always
    paths:
      - build/libs/*.jar
      - build/test-results/test/**/TEST-*.xml
      - screenshots/
    reports:
      junit: build/test-results/test/**/TEST-*.xml


publish_sb:
  stage: publish
  script:
    - |
      pluginVersion=$[[ inputs.PLUGIN_VERSION ]]

      # if [ -n "$pluginVersion" ]; then
      #  echo "Setze neues Tag $pluginVersion"
      #  git tag "release/$pluginVersion"
      #  git push origin "release/$pluginVersion"
      # fi

      echo "Pushe Version $pluginVersion nach $JF_REPO_KEY ins $JF_REPO_URL (mit dem User $JF_RW_USER)"
      ./gradlew artifactoryPublish -PpluginVersion=$pluginVersion
  rules:
    - if: '"$[[ inputs.UPLOAD_TO_SEITENBAU_GRADLE_REPO ]]" == "true"'
      when: on_success

publish_gradle:
  stage: publish
  script:
    - |
      pluginVersion=$[[ inputs.PLUGIN_VERSION ]]
      echo "gradle.publish.key=$GRADLE_PUBLISH_KEY" >> gradle.properties
      echo "gradle.publish.secret=$GRADLE_PUBLISH_SECRET" >> gradle.properties
      chmod 600 gradle.properties
      ./gradlew --info publishPlugins -PpluginVersion=$pluginVersion
  rules:
    - if: '"$[[ inputs.UPLOAD_TO_GRADLE_REPO ]]" == "true"'
      when: on_success
